<?xml version="1.0"?>
<configuration>
  <system.web>
    <trace enabled="true" mostRecent="true"/>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings/>
    <client/>
    <services>
      <service name="WCFLocalBus.Service1" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WCFLocalBus.IService1"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
     
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
 
</configuration>